:root {
    --c-width : 36.3vw;
}

body {
    width: 100vw;
    height: 100vh;
    
}

.card_styled {
    color: black;
    border: 1px solid #BABDBF;
    background-color: rgb(250, 250, 250);
	text-transform: uppercase;
    width: var(--c-width);
    height: calc(var(--c-width)*0.57);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.phone-number {
    padding: 3% 4.5%;
    font-size: calc(0.04132231*var(--c-width));
}

.telegram-and-email {
    display: grid;
    padding: 3% 4%;
}

.telegram-and-email span {
    justify-self: center;
    font-size: calc(0.03305785*var(--c-width));
}

.telegram-and-email .email {
    padding-top: 1% ;
	font-size: calc(0.02479339*var(--c-width));
}

.name-and-title {
	flex-basis: 100%;
    display: grid;
    justify-content: center;
}

.names {
    padding-top: 40%;
    width: auto;
    justify-self: center;
}

.first-name {
    font-size: calc(0.03305785*var(--c-width));
}
.last-name {
    font-size: calc(0.04407713*var(--c-width));
}
.name-and-title .title {
    justify-self: center;
    padding-bottom: 72%;
	font-size: calc(0.02754821*var(--c-width));
}

.bottom-info {
    padding-bottom: 3%;
	text-align: center;
	font-size: calc(0.02754821*var(--c-width));
}

@media (max-width: 900px) {
    :root {
        --c-width: 70vw;
    }
    .card_styled {
        justify-self: center;
    }
}
